* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    margin: 50px;
}

header {
    border-bottom: solid 1px;
    border-bottom-color: rgb(184, 184, 184);
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo > a {
    color: black;
    font-weight: bold;
}

header > nav > ul > li:first-child{
    margin-left: 50px;
}

header > nav > ul > li {
    display: inline;
    margin-left: 30px;
}

hr {
    margin: 48px;
    color: rgb(241, 241, 241);
}

h1 {
    margin-bottom: 4px;
}
h3 {
    margin-top: 12px;
    margin-bottom: 4px;
}

.intro {
    text-align: justify;
    color: grey;
    margin-bottom: 12px;
}

.upload-box-inner > p {
    text-align: center;
}

.upload-box-outer {
    background-color: #C9DBBA;
    padding: 8px;
}

.upload-box-inner {
    background-color: #75DBCD;
    border: 3px;
    border-color: grey;
    border-radius: 10px;
    border-style: dashed;
    padding: 100px 50px;
}

.upload-box-inner > p {
    color: grey;
    line-height: 40px;
    font-weight: bold;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: grey;
}

#badges {
    display: flex;
    justify-content: space-around;
}

#badges > li {
    display: inline-block;
}

.badge {
    width: 240px;
    text-align: center;
}

.badge > p {
    margin-top: 16px;
    color: grey;
    text-align: justify;
}

.material-icons.md-custom {
    color: rgb(206, 206, 206);
    font-size: 92px;
}

.file {
    color: black;
}

form {
    text-align: center;
}

input {
    text-align: center;
}

.download-btn {
    text-align: center;
    font-weight: bold;
    color: white;
    display: block;
}